header.major p {
  font-size: 1em;
}

.image img {
  opacity: 1;
}

h3 a.link {
  background-color: black;
}

.centered {
  display: grid;
  place-items: center;
}
.card,
.card-body {
  min-height: 100%;
}
