/* iSyllabi */
.tiles article:nth-child(6n - 5):before {
  background-color: #6d6966;
}
/* Clock */
.tiles article:nth-child(6n - 4):before {
  background-color: #1d1b03;
}
/* Saiyan City */
.tiles article:nth-child(6n - 3):before {
  background-color: #69322b;
}
/* Bizz Trak */
.tiles article:nth-child(6n - 2):before {
  background-color: #0b240f;
}
/* Party Analysis */
.tiles article:nth-child(6n - 1):before {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    90deg,
    #041e42 20%,
    #9b1c2c 100%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #041e42 20%,
    #9b1c2c 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .tiles article:nth-child(6n):before {
  background-color: black;
}
.tiles article:nth-child(8n-1):before {
  background-color: white;
}
.tiles article:nth-child(8n):before {
  background-color: red;
} */
header.major p {
  font-size: 1em;
}

.image img {
  opacity: 1;
}

h3 a.link {
  background-color: black;
}

.centered {
  display: grid;
  place-items: center;
}
