header.major p {
  font-size: 1em;
}

.image img {
  opacity: 1;
}

h3 a.link {
  background-color: black;
}

.centered {
  display: grid;
  place-items: center;
}
@media screen and (max-width: 980px){
  #blogs{
    max-width: 50%;
    transform: translate(50%);
  }
}
